<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="#">
        <img src="assets/Logo-Beecoming.png" width="120" height="80" alt="Logo">
    </a>
    <button (click)="toggleNav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" *ngIf="!isNavOpen"></span>
        <span className="py-3 px-3 close" *ngIf="isNavOpen">X</span>
    </button>

    <div [ngClass]="{'collapse':true,'navbar-collapse':true,'show':isNavOpen}" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
            <li [ngClass]="{'nav-item':true,'active':activeLink == 0}" (click)="getCurrentPageIndex()">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li [ngClass]="{'nav-item':true,'active':activeLink == 1}" (click)="getCurrentPageIndex()">
                <a class="nav-link" routerLink="/capitales">Capitales</a>
            </li>
        </ul>
    </div>
</nav>