<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="#">
        <img src="assets/Logo-Beecoming.png" width="120" height="80" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [ngClass]="{'nav-item':true,'active':activeLink == 0}" (click)="getCurrentPageIndex()">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li [ngClass]="{'nav-item':true,'active':activeLink == 1}" (click)="getCurrentPageIndex()">
                <a class="nav-link" routerLink="/capitales">Capitales</a>
            </li>
        </ul>
    </div>
</nav>